@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Questrial', sans-serif;
}

body {
  overflow-x: hidden;
  background-color: white;
  min-height: 100vh;
  min-width: 100vw;
  margin: 0;
}

#books-index {
  width: 80%;
  margin: 0 10%;
}

#quote {
  height: 25px;
  background-color: #F9F9F9;
  color: #303030;
  text-align: center;
  padding: 40px 0 70px 0;
  font-size: 30px;
}

.quotes {
  transition: 2s ease;
  height:30px;
}

.select {
  margin: 15px;
}

.sort {
  display: flex;
  align-items: center;
  margin: 0 25px;
}
img {
  max-width: 150px;
}

.card {
  margin: 15px;
  padding: 30px;
  background-color: #F9F9F9;
}

.media {
  width: 70%;
  margin-left: 200px;
}

.book-button {
  display: flex;
  justify-content: center;
  margin: 30px 0 0 0;
}

#books-show, #reviews {
  width: 80%;
  margin: 20px auto;
  align-items: center;
  padding: 10px 30px;
  background-color: #F9F9F9;
}

.go-back {
  padding: 0 10%;
}

#comments {
  width: 80%;
  margin: auto;
  height: 400px;
  align-items: center;
  padding: 10px 90px;
  background-color: #F9F9F9;
}
