@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Questrial', sans-serif;
}

body {
  overflow-x: hidden;
  background-color: white;
  min-height: 100vh;
  min-width: 100vw;
  margin: 0;
}

main {
    height: 90vh;
}
.navbar {
  color: #ff2a56;
  height: 70px;
}

.home {
  background-image: url(https://s3.amazonaws.com/riffle-assets/img/riffle-header-bg-v4.jpg);
  height: 90vh;
  background-position: center;
  background-size: cover;
  background-image: contain;

  h1 {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: bold;
  }

  h2 {
    text-transform: uppercase;
    font-weight: bold;
  }

  .button {
    margin: 30px 20px;
  }
}
.home-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 15%;
}

#hero{
  background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3h) );
  background-blend-mode: 'darken'
}

#books-index {
  width: 80%;
  margin: 0 10%;
}

#quote {
  height: 25px;
  background-color: #F9F9F9;
  color: #303030;
  text-align: center;
  padding: 40px 0 70px 0;
  font-size: 30px;
}

.quotes {
  transition: 2s ease;
  height:30px;
}

.select {
  margin: 15px;
}

.sort {
  display: flex;
  align-items: center;
  margin: 0 25px;
}
img {
  max-width: 150px;
}

.card {
  margin: 15px;
  padding: 30px;
  background-color: #F9F9F9;
}

.media {
  width: 70%;
  margin-left: 200px;
}

.book-button {
  display: flex;
  justify-content: center;
  margin: 30px 0 0 0;
}

#books-show, #reviews {
  width: 80%;
  margin: 20px auto;
  align-items: center;
  padding: 10px 30px;
  background-color: #F9F9F9;
}

.go-back {
  padding: 0 10%;
}

#comments {
  width: 80%;
  margin: auto;
  height: 400px;
  align-items: center;
  padding: 10px 90px;
  background-color: #F9F9F9;
}
